/* Sauce form
------------------------- */
.main-form {
	background-color: #161616;
	background-image: url(../../../images/noise_bg.jpg);
	background-repeat: repeat;
	padding: 1rem;
	margin-bottom: 3rem;
	outline: solid 1px;
	outline-color: #303030;
	box-shadow: 0 0 2rem rgba(86, 94, 136, 0.15) !important;
}