/* Main styling for website */
body {
	color: #ebebeb;
	background-color: #161616;
	background-image: url(../images/noise_bg.jpg);
	background-repeat: repeat;
	opacity: 1;
	transition: 0.35s opacity;
}
body.fadeout {
	opacity: 0;
	transition: none;
}

/* MAIN/SHARED STYLING
------------------------- */
.center-screen {
	position: absolute;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.img-button:hover {
	cursor: pointer
}

.body-header {
	color: #cdedff;
	line-height: 1.25;
}

.main-card {
	transition: all 0.1s ease-in-out;
	background-color: #00000050;
	color: #ffffff !important;
	height: 100%;
	padding: 1.25rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	border: solid 2px;
	border-color: #333333;
	border-radius: 10px;
}
.main-card:hover {
	background-color: #08091180;
	border-color: #525bafb0;
}

.btn {
	border: 2px solid;
	border-color: #5b616db0;
}
.btn:hover {
	border-color: #525bafb0;
}
.wide-button {
	width: 100%;
}

.scrollable {
	overflow: auto;
}
.scrollable-h {
	overflow-x: auto;
	overflow-y: hidden;
}
.scrollable-v {
	overflow-x: hidden;
	overflow-y: auto;
}
::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	background: #161616;
}
::-webkit-scrollbar-thumb {
	background: #5f5f5f;
}
::-webkit-scrollbar-thumb:hover {
	background: #4f4f4f;
}

.toggle.round,
.toggle-on.round,
.toggle-off.round {
	border-radius: 15px;
}

.form-control {
	height: 100px;
	font-size: 64px;
	background-color: #101010;
	border-color: #252c4e;
	color: #afafaf;
}
.form-control:focus {
	background-color: #121212;
	border-color: #2c335f;
	color: #afafaf;
}
.form-control::placeholder {
	color: #afafaf20;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	text-shadow: 0px 0px 2rem #def0ff50;
}

.card-divider {
	border-color: #505050;
	border-style: inset;
	border-width: 1px;
	margin: 1rem 0;
}
.showcase-divider {
	border-color: #505050;
	border-style: inset;
	border-width: 1px;
	margin: 2rem 0;
}
.showcase-body {
	line-height: 1.5;
}

/* PROJECT PAGES
------------------------- */
.project-container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
}

.file-input-area {
	background-color: #222222;
	border: solid 2px;
	border-color: #505050;
	height: 100%;
	padding-top: 25%;
	padding-bottom: 25%;
	text-align: center;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4) !important;
}

.file-list-item {
	background-color: #625e77;
	border: solid 1px;
	border-color: #898797;
	color: #ebebeb;
	width: 100%;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 2px;
}
.file-list-item:nth-of-type(even) {
	background-color: #514e64;
	border-color: #898797;
}

.file-list-item-notsup {
	background-color: #9b7735;
	border-color: #d39248;
}
.file-list-item-notsup:nth-of-type(even) {
	background-color: #836a33;
	border-color: #d39248;
}

.file-select {
	display: none;
}

.file-drag-drop {
	background-color: #6d6d6db2;
	width: 100%;
	padding: 5%;
	margin: 0px;
}

.chart-container {
	position: relative;
}

.main-card-container {
	background-color: #333333;
	margin: 0.75rem;
	border-radius: 10px;
	text-align: left;
	border: solid 2px;
	border-color: #666666;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3) !important;
}

.text-contents {
	padding: 1.5rem;
}
